DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=adminpassword!123
DJANGO_SUPERUSER_EMAIL=admin@example.local
SECRET_KEY="your_django_secret_key"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
